In [3]:
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

## '+'연산을 사용해서 새로운 column을 만들기

In [4]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [8]:
df['full_name'] = df['first'] + ' ' + df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JohnDoe@gmail.com       John Doe

## drop을 사용해서 column을 지우기

In [12]:
df.drop(columns=['first', 'last'], inplace=True)

## split과 expand를 통해서 새로운 column을 추가하기

In [13]:
df[['first', 'last']]=df['full_name'].str.split(' ', expand=True)

In [14]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe

## append와 딕셔너리를 사용해서 새로운 row를 추가하기

In [15]:
df.append({'first' : 'Tony'})

TypeError: Can only append a dict if ignore_index=True

In [16]:
df.append({'first' : 'Tony'}, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [17]:
people = {
    "first" : ["Tony", "Steve"],
    "last" : ["Stark", "Rogers"],
    "email" : ["IronMan@gmail.com", "Cap@gmail.com"]
}
df2= pd.DataFrame(people)
df2

   first    last              email
0   Tony   Stark  IronMan@gmail.com
1  Steve  Rogers      Cap@gmail.com

## append와 dataframe을 사용해서 새로운 row 추가하기

In [22]:
df=df.append(df2, ignore_index=True)

In [23]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3        IronMan@gmail.com            NaN   Tony    Stark
4            Cap@gmail.com            NaN  Steve   Rogers

## df.drop을 사용해서 row를 삭제하기

In [24]:
df.drop(index=4, inplace=True)

In [25]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3        IronMan@gmail.com            NaN   Tony    Stark

## df.drop + filtering을 사용해서 row삭제하기

In [26]:
df.drop(index=df[df['last']=='Doe'].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3        IronMan@gmail.com            NaN   Tony    Stark